$secondary-color: rgb(79, 44, 6);
.img-slide-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .content {
    flex: 1;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    h3 {
      font-size: 3rem;
    }
    h2 {
      font-size: 6rem;
      color: rgb(107, 81, 8);
      text-shadow: 2px 2px rgb(248, 248, 248);
      font-weight: bolder;
      border-bottom: 4px solid rgb(139, 86, 24);
      font-family: "Dancing Script", cursive;
    }
    p {
      font-size: 1.5rem;
    }

    #desc {
      color: rgb(77, 45, 6);
      // text-shadow: 1px 1px rgb(32, 8, 8);
      padding-top: 2rem;
      // background: white;
    }
  }

  .photo-container {
    flex-shrink: 1;
    display: flex;
    height: 100%;
    max-width: 60%;
    justify-self: center;
    align-self: center;
    align-items: center;
    background: rgba($secondary-color, 0.85);
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
    .main-photo {
      max-width: 70%;
      flex-grow: 1;
    }
    .main {
      // max-width: 100%;
      // height: auto;
      max-width: 100%;
      height: 100%;
    }

    .side-photos {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 200px;
      gap: 0.1em;
      padding: 0.5rem 0;
      justify-content: center;

      .side {
        max-width: auto;
        height: 33%;
      }
    }
  }

  .buttons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    padding: 1rem;
    gap: 5rem;
  }

  .buttons > button {
    color: rgb(226, 223, 223);
    background: rgb(150, 88, 18);
    padding: 0.2rem 1rem;
    border-radius: 1px;
    font-weight: 700;
    line-height: 1.5rem;
    cursor: pointer;
    border: none;
  }

  .buttons > button:hover {
    background: rgb(226, 223, 223);
    color: rgb(150, 88, 18);
    transition: 0.35s all ease;
  }
}

//media query for mobile devices
@media only screen and (max-width: 1150px) {
  .img-slide-container {
    align-self: center;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    height: 100%;
    .content {
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: wrap;
      min-height: 100%;
      max-width: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 3.5rem;
        color: rgb(40, 30, 3);
        text-shadow: none;
        font-weight: bolder;
        border-bottom: 4px solid rgb(169, 17, 17);
      }
      p {
        font-size: 0.85rem;
      }

      #desc {
        color: rgb(77, 45, 6);
        // text-shadow: 1px 1px rgb(32, 8, 8);
        padding-top: 0.5rem;
        font-weight: 1000;
        // background: white;
      }
    }
    .content > * {
      flex: 1;
      justify-self: flex-start;
      align-self: center;
    }
    .photo-container {
      display: flex;
      height: 100%;
      max-width: 100%;
      justify-self: center;
      align-self: center;
      align-items: center;
      padding: 1rem 0;

      gap: 0.3rem;
      flex-wrap: wrap;
      justify-content: center;

      .main-photo {
        max-width: 70%;
        flex-grow: 1;
      }
      .main {
        max-width: 100%;
        height: auto;
      }

      .side-photos {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        max-width: 20%;
        gap: 0.1em;

        .side {
          width: 400px;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .buttons {
      font-size: 1rem;
    }
  }
}
