.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  padding: 0.5rem 0px;
  .logo {
    // min-width: 1px;
  }

  .menu {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      //   border-right: 0.1rem solid white;
      padding: 0.5em;
      height: 100%;
    }

    li:hover {
      cursor: pointer;
      color: white;
    }

    #contact-us {
      border-right: none;
    }
  }
}
