.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  .logo {
    // min-width: 1px;
    max-width: 100%;
    padding-left: 0.5rem;
    flex-grow: 0;
  }

  .menu {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 40%;
    gap: 0.5rem;
    padding: 0 0.5rem;

    li {
      list-style-type: none;
      //   border-right: 0.1rem solid white;
      // height: 100%;
      flex: 1;
    }

    li:hover {
      cursor: pointer;
      color: white;
    }

    #contact-us {
      border-right: none;
    }
  }
}
